*{
    box-sizing:border-box;
}

body{
    margin:0;
}

.header{
    background-color: rgb(19,25,33);
    height:60px;
}

div.container{
    margin:auto;
    width:98%;
    height:100%;
    overflow: hidden;
}
div.logo{
    margin-right:90%;
    margin-top:1%;
    height:98%;
    width:8%;
    background:url("img/amazon.in-logo.png");
    object-fit: cover;
    background-repeat: no-repeat ;
}